html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('src/assets/images/BC.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* 砖转 住  */
html::before, body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  z-index: -1;
  pointer-events: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Arial, sans-serif;
   align-items: center;       /* 专 驻拽转 */
  justify-content: center; 
}

/*   转拽 砖 */
.main-container {
  flex: 1; /* 转驻住 转   砖驻砖专 */
  display: flex;
  flex-direction: column;
  align-items: center;       /* 专 驻拽转 */
  justify-content: center;   /* 专 转 */
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw;
  height: 90%;
  box-sizing: border-box;
}

/* Footer */
.footer {
  background: rgba(0, 0, 0, 0.0);
  color: white;
  padding: 10px 20px;
  text-align: center;
  flex-shrink: 0;
}
/* ////////////////////////////////////////////////////// */

